.homepage {
    display:grid;
    height:95%;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    font-size:1.5rem;
    font-family: 'Roboto', sans-serif;
    gap:15px;
    padding:0.5rem;

}
@media (min-width:600px) {
    .homepage {
    grid-template-columns: 1fr 1fr;
    font-size:2rem;
    }
}
.homepage div {
    padding:0.3rem 0.8rem;
}

.homepageImage {
    margin:2rem;
}
.foodDisplay {
    width:100%;
    display:grid;
    padding:1rem;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

@media (min-width:600px) {
    .foodDisplay {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        grid-auto-rows: 1fr;
    }
}

.foodCard {
    display:grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    font-size:1.3rem;
}